@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}
a.menulink:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #993399;
	color: #000000;
	text-decoration: underline;
}
a.menulink:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.menulink:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #ff0003;
	text-decoration: underline;
}
a.menulink:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.tahoma12 {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: justify;
}
.constantbg {
	background-image: url(../images/menu_gradient.jpg);
	background-repeat: repeat-x;
	height: 65px;
	width: auto;
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-position: left top;
}
.tahomasmall {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.gradientbg {
	background-image: url(../images/grey_grad.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 8px;
	width: auto;
}
a.copyrights:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #993399;
	color: #FFFFFF;
	text-decoration: none;
}
a.copyrights:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.copyrights:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #00FFFF;
	text-decoration: underline;
}
a.copyrights:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.tahomawhite12 {
	font-family: Tahoma;
	font-size: 12px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.tableborderleft {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	height: auto;
	width: auto;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-right-color: #82a23d;
	border-left-color: #82a23d;
	background-color: #E7F0D1;
}
.input {
	width: 100px;
	font-family: Verdana;
	font-size: 11px;
}
.verdanablack {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.verdanabold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.tablebordergrey {
	background-position: bottom;
	border: 1px solid #a6a7a6;
}
.verdanabrown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #ae4d07;
	text-decoration: none;
}
.verdana13 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.menubg {
	background-position: top;
	height: 40px;
	width: auto;
	background-image: url(../images/menu_grad.jpg);
	background-repeat: repeat-x;
}
.tableborderbrown {
	border-left-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-right-color: #d07429;
	border-left-color: #d07429;
	background-color: #FFDABD;
}
option {
	height: 15px;
}

.tablespacer {
	background-image: url(../images/spacer_brd.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 20px;
	width: auto;
}
.yellowbg {
	background-image: url(../images/yellow_grad.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 50px;
	width: 129px;
}
a.tahoma11:link {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #993399;
	color: #3a6997;
	text-decoration: underline;
}
a.tahoma11:visited {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #3a6997;
	text-decoration: underline;
}
a.tahoma11:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #A00000;
	text-decoration: underline;
}
a.tahoma11:active {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #3a6997;
	text-decoration: underline;
}
.tahomasmallbold {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
.tablespacerleft {
	background-image: url(../images/border_left.jpg);
	background-repeat: repeat-y;
	background-position: left center;
	height: auto;
	width: 20px;
}
.tdborder {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #bfbfbf;
	border-left-color: #bfbfbf;
}

.tablespacerright {
	background-image: url(../images/border_right.jpg);
	background-repeat: repeat-y;
	background-position: right center;
	height: auto;
	width: 20px;
}
.tablespacerbottom {
	background-image: url(../images/spacer_brd_bottom.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 20px;
	width: auto;
}
.tahoma {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.mainbg {
	background-position: center top;
	height: 384px;
	width: 707px;
	background-image: url(../images/main_bg.jpg);
	background-repeat: no-repeat;
}
.servicebg {

	background-position: center top;
	height: 384px;
	width: 707px;
	background-image: url(../images/services_bg.jpg);
	background-repeat: no-repeat;
}
.selectinput {
	width: 125px;
	font-family: Verdana;
	font-size: 11px;
	color: #3A6997;
	height: 20px;
}
.tableborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A8B158;
	border-right-color: #A8B158;
	border-bottom-color: #A8B158;
	border-left-color: #A8B158;
}
a.submenu:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	width: 103px;
	background-image: url(../images/rollover1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	float: left;
	padding-bottom: 0px;
}
a.submenu:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	width: 103px;
	background-image: url(../images/rollover1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	float: left;
	height: 30px;
	padding-bottom: 0px;
}

a.submenu:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	width: 103px;
	background-image: url(../images/rollover2.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	float: left;
	padding-bottom: 0px;
}
a.submenu:active {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height: 30px;
	width: 103px;
	background-image: url(../images/rollover1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 15px;
	float: left;
	padding-bottom: 0px;
}
.inputCopy {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
